
.editable-wrapper{
    position: relative;
    outline: dashed 4px rgba(0, 0,0,0.1);
    padding: 5px;
    margin: 5px;

    &.toolbar-show{
        border: blue solid 1px;
    }

    .event-prevent{
        pointer-events: none;
    }

    .widget-toolbar{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        z-index: 2;

        .action-panel{
            text-align: center;

            .btn{
                border: solid 1px cornflowerblue;
                margin-right: 3px;
                background-color: #fff;
            }
        }

    }

}