

.add-bar{
    position: relative;
    height: 10px;
    width: 100%;
    background-color:darkolivegreen;
    opacity: 0.05;
    margin: 5px 0;
    text-align: center;

    &:hover{
        opacity: 1;
    }

    .add-btn{
        position: relative;
        top: -3px;
        z-index: 2;
        color: darkolivegreen;
        background-color: #fff;
    }
}